APP_NAME="Demirbaş ve Zimmet Yönetim Sistemi"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Europe/Istanbul

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=demirbas_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

STORAGE_MAX_UPLOAD_SIZE_MB=10
